/* .product-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(320px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
} */
.product-desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.product-title {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
